<div class="jumbotron about-page-info">
	<div class="container">
	<div align="center">
		<h1 class="about-header">In case you are want to know more about the project</h1><br/>
</div>
<p class="project-description">The “CREATEskills” project is designed to develop and implement innovative practices, tools and methodologies in primary schools for the establishment of STEM studio classrooms, improving the quality and relevance of the learning process in primary education, more specifically regarding the attractiveness of STEM subjects. Through hands-on activities and based on the logic of the social learning theory, “CREATEskills” will contribute to the development of the 21st century skills among students.<br/><br/>
The target group will be primary school students (6-12 years of age), teachers and parents. We would also like to reach out to the wider community, namely science-related Researchers and Organizations, establishing a bridge between schools and work environments.<br/><br/>
The project will develop, test and implement an innovative methodology for STEM Education in primary schools including a Toolkit with STEM teaching materials for primary school teachers and a Teacher’s Guide. For engagement of a wider community, parents and other communities, the creation of a web animated platform with a “virtual teacher’s room”, establishing a network among EU teachers, a virtual library and home activities and DIY projects for children and family available in all partner languages.)</p>
</div>
</div>